dot_DS_Store
dot_config/fish
dot_config/gcloud
dot_config/nnn
dot_config/gitui
dot_config/iterm2
dot_config/private_gtk-2.0
dot_config/private_karabiner/_backup_karabiner.json
dot_config/private_karabiner/private_automatic_backups
dot_config/private_mc
dot_config/ranger
dot_config/xonsh
dot_config/private_vifm/private_scripts/README
dot_config/private_vifm/vifm-help.txt
dot_config/private_vifm/vifminfo.json
dot_config/private_vifm
dot_vifm/private_scripts/README
dot_vifm/vifm-help.txt
dot_vifm/vifminfo.json
